@import url(https://fonts.googleapis.com/css?family=Croissant+One:regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background: #020010;
  font-family: "Croissant One", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow-x: hidden;
}

body,
html {
  scroll-behavior: smooth;
}

#particles canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
